body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

.container {
    width: 80%;
}
header {
    text-align: center;
}

ul {
    list-style-type: none;
}
ul li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color:#bbb;

}